<a href="/"><h1>Insert</h1></a>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
    <br>
    <label for="marca">Marca</label>
    <input type="text" id="marca" name="marca" placeholder="Marca">
    <br>
    <label for="modelo">Modelo</label>
    <input type="text" id="modelo" name="modelo" placeholder="Modelo">
    <br>
    <label for="cantidad">Cantidad</label>
    <input type="text" id="cantidad" name="cantidad"placeholder="cantidad">
    <button type="submit" class="btn btn-primary">Insert</button>
</form>